# Environment variables
.env

# Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# FAISS index (optional - remove these two lines if you want to upload the index)
embeddings/faiss.index
embeddings/metadata.pkl

# Operating System
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python build files
dist/